@import "tailwindcss";

:root {
  --color-background: hsl(0, 0%, 100%);
  --color-foreground: hsl(273, 4%, 20%);

  --ash-gray: hsl(159, 16%, 79%);
  --ash-gray-2: hsl(184, 12%, 72%);
  --cadet-gray: hsl(210, 5%, 64%);
  --taupe-gray: hsl(273, 4%, 52%);
  --wenge: hsl(346, 8%, 31%);
}

[data-theme="customdark"] {
  --color-background: hsl(0, 0%, 5%);
  --color-foreground: hsl(0, 0%, 95%);

  --ash-gray: hsl(159, 16%, 79%);
  --ash-gray-2: hsl(184, 12%, 72%);
  --cadet-gray: hsl(210, 5%, 64%);
  --taupe-gray: hsl(273, 4%, 52%);
  --wenge: hsl(346, 8%, 31%);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}